[Unit]
Description=ArashiDNS.C
After=network.target

[Service]
Type=simple
DynamicUser=yes
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/arashic https://%i/dns-query -w 3000 -l 127.0.0.1:15353
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
